<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Create New User</h1>
<form th:action="@{/user/create}" method="post" th:object="${userDto}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
    <label for="role">Role:</label>
    <select id="role" name="role" th:field="*{role}" required>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>
    <label for="imageUrl">ImageUrl:</label>
    <input type="text" id="imageUrl" name="imageUrl" th:field="*{imageUrl}" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <button type="submit">Create</button>
</form>
</body>
</html>