<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Add Offer</h1>
                </div>
                <form th:action="@{'/offer/change/' + ${offer.id}}" th:method="post" th:object="${offer}" class="m-md-auto w-50 pb-3">
                    <div class="mb-3">
                        <label class="form-label" for="description">Description:</label>
                        <input th:field="*{description}" th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="description" aria-describedby="descriptionHelp"
                               name="description"/>
                        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Error message</small>
                    </div>
                    <fieldset class="mb-3">
                        <legend>Choose Engine</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="Diesel"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="engine"/>
                                <span>Diesel</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="Gasoline"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="engine"/>
                                <span>Gasoline</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="Electric"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input " name="engine"/>
                                <span>Electric</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="Hybrid"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input " name="engine"/>
                                <span>Hybrid</span>
                            </label>
                        </div>
                        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"
                               class="text-danger">Error message</small>
                    </fieldset>
                    <div class="mb-3">
                        <label class="form-label" for="mileage">Mileage:</label>
                        <input th:field="*{mileage}" th:errorclass="is-invalid"
                               type="number" class="form-control text-center" id="mileage" aria-describedby="mileageHelp"
                               name="mileage"/>
                        <small th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}" class="text-danger">Error message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="year">Year:</label>
                        <input th:field="*{year}" th:errorclass="is-invalid"
                               type="number" class="form-control text-center" id="year" aria-describedby="yearHelp"
                               name="endYear"/>
                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Price:</label>
                        <input th:field="*{price}" th:errorclass="is-invalid"
                               type="number" class="form-control text-center" id="price" aria-describedby="priceHelp"
                               name="price"/>
                        <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error message</small>
                    </div>
                    <fieldset class="mb-3">
                        <legend>Choose Transmission</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{transmission}"
                                       th:value="Automatic"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="transmission"/>
                                <span>Automatic</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{transmission}"
                                       th:value="Manual"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="transmission"/>
                                <span>Manual</span>
                            </label>
                        </div>
                        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"
                               class="text-danger">Error message</small>
                    </fieldset>
                    <div class="mb-3">
                        <label class="form-label" for="username"><h5>All available users</h5></label>
                        <select multiple="false" class="form-control text-center"
                                id="username" name="name" th:field="*{username}">
                            <option th:each="user : ${allUsers}"
                                    th:value="${user.username}"
                                    th:text="${user.username}">Username
                            </option>
                        </select>
                        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="modelName"><h5>All available models</h5></label>
                        <select multiple="false" class="form-control text-center"
                                id="modelName" name="name" th:field="*{modelName}">
                            <option th:each="model : ${allModels}"
                                    th:value="${model.name}"
                                    th:text="${model.name}">Model name
                            </option>
                        </select>
                        <small th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}"
                               class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="imageUrl">imageUrl:</label>
                        <input th:field="*{imageUrl}" th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="imageUrl" aria-describedby="imageUrlHelp"
                               name="imageUrl"/>
                        <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Error message</small>
                    </div>
                    <button type="submit" class="btn btn-secondary">Add Model</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
