<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Brand</title>
</head>
<body>
<h1>Create New Brand</h1>
<form th:action="@{/model/create}" method="post" th:object="${modelDto}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <label for="category">Category:</label>
    <select id="category" name="category" th:field="*{category}" required>
        <option value="Car">Car</option>
        <option value="Buss">Buss</option>
        <option value="Truck">Truck</option>
        <option value="Motorcycle">Motorcycle</option>
    </select>
    <label for="startYear">Start Year:</label>
    <input type="text" id="startYear" name="startYear" th:field="*{startYear}" required>
    <label for="endYear">End Year:</label>
    <input type="text" id="endYear" name="endYear" th:field="*{endYear}" required>
    <label for="brand">Brand Name:</label>
    <input type="text" id="brand" name="brand" th:field="*{brandName}" required>
    <label for="imageUrl">imageUrl:</label>
    <input type="text" id="imageUrl" name="imageUrl" th:field="*{imageUrl}" required>
    <button type="submit">Create</button>
</form>
</body>
</html>