<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Models</title>
</head>
<body>
<h1>All Models</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Brand name</th>
        <th>Category</th>
        <th>Start Year</th>
        <th>End Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="model : ${models}">
        <td th:text="${model.getName()}"></td>
        <td th:text="${model.getBrandName()}"></td>
        <td th:text="${model.getCategory()}"></td>
        <td th:text="${model.getStartYear()}"></td>
        <td th:text="${model.getEndYear()}"></td>

        <td>
            <form th:action="@{/model/find/{id}(id=${model.getId()})}" method="get">
                <button type="submit">Watch</button>
            </form>
            <form th:action="@{/model/change/{id}(id=${model.getId()})}" method="get">
                <button type="submit">Change</button>
            </form>
            <form th:action="@{/model/delete/{id}(id=${model.getId()})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/model/create}" method="get">
    <button type="submit">Create new Model</button>
</form>
</body>
</html>