<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some User</title>
</head>
<body>
<h1>Some User</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Active</th>
        <th>ImageUrl</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${userDto.getId()}"></td>
        <td th:text="${userDto.getUsername()}"></td>
        <td th:text="${userDto.getFirstName()}"></td>
        <td th:text="${userDto.getLastName()}"></td>
        <td th:text="${userDto.getRole()}"></td>
        <td th:text="${userDto.isActive() ? 'Yes' : 'No'}"></td>
        <td th:text="${userDto.getImageUrl()}"></td>
        <td th:text="${userDto.getPassword()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>