<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Model</title>
</head>
<body>
<h1>Some Model</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand name</th>
        <th>Category</th>
        <th>Start Year</th>
        <th>End Year</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${modelDto.getId()}"></td>
        <td th:text="${modelDto.getName()}"></td>
        <td th:text="${modelDto.getBrand()}"></td>
        <td th:text="${modelDto.getCategory()}"></td>
        <td th:text="${modelDto.getStartYear()}"></td>
        <td th:text="${modelDto.getEndYear()}"></td>
        <td th:text="${modelDto.getImageUrl()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>