<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Offer</title>
</head>
<body>
<h1>Some Offer</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Engine</th>
        <th>Image URL</th>
        <th>Mileage</th>
        <th>Price</th>
        <th>Transmission</th>
        <th>Year</th>
        <th>Username</th>
        <th>Model Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${offerDto.getId()}"></td>
        <td th:text="${offerDto.getDescription()}"></td>
        <td th:text="${offerDto.getEngine()}"></td>
        <td th:text="${offerDto.getImageUrl()}"></td>
        <td th:text="${offerDto.getMileage()}"></td>
        <td th:text="${offerDto.getPrice()}"></td>
        <td th:text="${offerDto.getTransmission()}"></td>
        <td th:text="${offerDto.getYear()}"></td>
        <td th:text="${offerDto.getUsername()}"></td>
        <td th:text="${offerDto.getModelName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>