<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-3">
                <div class="justify-content-center">
                    <h1>Welcome to Offers Application!</h1>
                </div>
                <div><span th:text="'Last update of Database:'"></span>&nbsp;
                    <span th:text="${#dates.createNow()}"></span>
                </div>
                <div class="justify-content-center" sec:authorize="isAuthenticated()">
                    <h1>Offer Statistics</h1>

                <div>
                    <p>Manual Offers: <span th:text="${manualCount}"></span></p>
                    <p>Automatic Offers: <span th:text="${automaticCount}"></span></p>
                </div>
                <div>
                    <span th:text="'Average Price of Offers:'"></span>
                    <span th:text="${#numbers.formatDecimal(averagePrice, 2, 'POINT', 2, 'COMMA')}"></span>
                </div>
                </div>
                <table class="table table-striped mt-5">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="offer : ${offers}">
                        <td>
                            <img th:if="${#strings.isEmpty(offer.imageUrl)}" th:src="@{/pic/tesla.png}" alt="Default Offer Image" style="max-width: 300px; max-height: 300px;">
                            <img th:if="${!#strings.isEmpty(offer.imageUrl)}" th:src="${offer.imageUrl}" alt="Offer Image" style="max-width: 300px; max-height: 300px;">
                        </td>
                        <td th:text="${#strings.substring(offer.description,0,10)}"></td>
                        <td><a th:href="@{/offer/find/{id}(id=${offer.getId()})}">More</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
